
/* GlIDER CAROUSEL PROPERTIES */
.glider{
  height: fit-content;
  align-items: center;
  justify-content: center;
  
      /* background: linear-gradient(270deg, #7acaa4, #285b72a4); */
      background-size: 400% 400%;
  
      -webkit-animation: AnimationName 30s ease infinite;
      -moz-animation: AnimationName 30s ease infinite;
      animation: AnimationName 30s ease infinite;
  }
  
  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }


  /* Card  */

.card{
  height: 300px;
  margin: 30px;
  margin: 0 50px ;
  text-overflow: clip;
/*design*/
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  transition: 0.5s;
  transform-style: preserve-3d;
  perspective: 300px;
}

.card:hover img{
  opacity: 0.2;
}

.card img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.3s;
 
}

.card:hover{
  box-shadow : 20px 20px 50px rgba(0,0,0,0.5);
  border-top: 2px solid rgba(255,255,255,0.5);
  border-left:  2px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);
 
}

.card-info-box{
  position: absolute;
  z-index: 4;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 50px;
  transform: translateY(100%);
  transition: 0.7s;
  opacity: 0;
  border-radius: 15px;

}

.card:hover .card-info-box{
transform: translatey(0px);
opacity: 1;
}


.card-btn{
  border-radius : 14px;
  background-color:rgba(255, 254, 254, 0.296);
  padding: 5px 30px;
  right: 20px;
  border: 0px;
  margin: 20p;
  transform: translateZ(20px);
  perspective: 15px;
  margin: 20px;
  color: white;
}

.card-btn:hover{
 /*  background-color:#97fdcc;; */
 border: 1px solid #97fdcc;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.card-title{
  font-size: xx-large;
  margin-bottom: 10px;
  font-weight: bolder;
}
.card-text{
  margin-bottom: 10px;
}




@media(max-width:1400px){
  .card{
    width: 80%;
    margin: 50px;
  }
}

@media(max-width:600px){
  .card{
    width: 100%;
    margin: 25px;
  }
}