
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Stint+Ultra+Condensed&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    list-style: none;
    text-decoration: none;
}

html{
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

p ,h3{
  font-family: 'Dosis', sans-serif;
  text-align: center;
}


body{
    height: 100vh;
    width: 100vw;
    transition: 1;
    color:white;
    background-color: black;
    object-fit: cover;
    overflow-x: hidden;
}

#intro-box{
    width: 100vw;
    max-height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition : 2.5s;
    overflow: hidden;
}

.rotate{
  transform: rotateY(90deg);
}

.arrow-down{
animation: popArrow 2s infinite;
position: absolute;
font-size: 50px;
color: rgb(255, 255, 255);
bottom: 0;
}

@keyframes popArrow {

0%{ opacity: 1;
bottom: 0px;}
50%{opacity: 0;bottom: 25px;}
100%{opacity:1;bottom:0px}

}

.arrow-down:hover {
color: #97fdcc;
}

#front{
  -webkit-text-stroke-color: rgb(167, 233, 13);

}

#back{
  
  /* -webkit-text-stroke-color: rgb(196, 21, 231); */
  -webkit-text-stroke-color: rgb(235, 80, 243);

}
h1{
    color: rgb(0, 0, 0);
    cursor: crosshair;
    font-size: 9vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    text-align: center;
    /* text-shadow: 1px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #97fdcc;
/*   font-family: 'Fjalla One', sans-serif; */
/* TODO Typewritting effect */
}

  .Typewriter__cursor{
    
  }
  
h2{
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-size: 3.5vw;
    margin-left: 5.4vw;
    letter-spacing: 5.5vw;
    font-weight: lighter;
}



@media (min-width:700px ){
  h1{
    font-size : 5vw;
  }
}
