
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Stint+Ultra+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;500;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    list-style: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;

}

html{
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p{
  text-align: center;
}
/* TODO Lazy Loader */
#lazyLoader{
  width: 100vw;
  height: 100vh;
  display:none;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity:0.8;
  z-index: 1000;
  background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 32%, rgba(7,7,7,0.7609418767507002) 63%, rgba(13,13,13,0.48082983193277307) 100%);
backdrop-filter: blur(10px);
}
#lazyLoader img{
object-fit: cover;
height: 50%;
width: 50%;
}

#modal-success{
 position: absolute;
 display: none;
  width: 50%;
  height: 50%;
  opacity: 1;
  background-color: white;
  z-index: 1000000;
  backdrop-filter:white;
  border-radius: 20px;
  overflow: hidden;
}

#modal-top{
  height: 40%;
  width: 100%;
  background-color: #97fdcc;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-top img{
  width: 70px;
  height: 70px;
  filter: invert();
}
#modal-bottom{
  height: 60%;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#modal-close{
  width: 100px;
  height: 40px;
  margin-top: 20px;
  border-radius : 20px;
  background-color: rgb(232, 81, 81);
  color: white;
justify-content: center;
  display: flex;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}
#modal-close:hover{
  opacity: inherit;
  background-color: #97fdcc;
  background-color: red;
  letter-spacing: 3px;
}

#modal-bottom p:first-child{
  font-size:30px;
  font-weight: bolder;
}
#modal-bottom p:nth-child(2){
  color: rgb(102, 102, 102);
}
/* TODO end lazy loader */

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #97fdcc;
  font-size: 9vw;
}


h3{
  font-size: 50px;
  top: 0;
  color: white;
  position: absolute;
  margin-bottom: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  background-color: #97fdcc93;
  width: 100%;
  backdrop-filter: blur(5px);
  text-transform: uppercase;
}


h2{
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  font-size: 3.5vw;
  margin-left: 5.4vw;
  letter-spacing: 5.5vw;
  font-weight: lighter;
}

body{
    height: 100vh;
    width: 100vw;
    transition: 1;
    color:white;
    background-color: black;
    object-fit: cover;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#intro-box{
    width: 100vw;
    max-height: 100vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition : 2.5s;
    overflow: hidden;
}


section{
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
/*   max-height: 100vh;
  min-height: 100vh; */
}

.rotate{
  transform: rotateY(90deg);
}

.arrow-down{
animation: popArrow 2s infinite;
position: absolute;
font-size: 50px;
color: rgb(255, 255, 255);
bottom: 0;
}

@keyframes popArrow {

0%{ opacity: 1;
bottom: 0px;}
50%{opacity: 0;bottom: 25px;}
100%{opacity:1;bottom:0px}

}

.arrow-down:hover {
color: #97fdcc;
}

#front{
  -webkit-text-stroke-color: rgb(255, 178, 62);

}

#back{
  -webkit-text-stroke-color: rgb(80, 151, 243);
}


  .Typewriter__cursor{
    
  }
  




@media (max-width:700px ){
  h1{
    font-size : 7vw;
  }
  section{
    height: 99vh;
  }

  #lazyLoader img{
    width: 100%;
  }
  #modal-success{
    width: 90%;
    margin: 10px;
  }
  #modal-bottom{
    padding: 20px;
  }
  #modal-top img{
    width: 50px;
    height: 50px;
    filter: invert();
  }
  #modal-bottom p:first-child{
    font-size:20px;
    font-weight: bolder;
  }
  #modal-bottom p:nth-child(2){
    font-size:13px;
    font-weight: bolder;
  }
}
